 body {
    margin: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 150%;
}

fieldset {
    background-color:rgb(255,246,205);	
    border:1px solid rgb(233,69,0);
    margin:10px 0px 30px 2.5%;
    width:70%;
}    

h2 {
    margin:10px 0px 30px 2.5%;
}
#output {
        background-color:rgb(255,246,205);	
        border:1px solid rgb(233,69,0);
        margin:10px 0px 30px 2.5%;
        width:70%;
 }

